<div class="container">
  <div class="row">
    <div class="col sm-4">
      <p> </p>
    </div>
    <div class="col-sm-4">
      <br>
      <input style="margin-bottom: 10px" class="form-control" type="text" [formControl]="searchname" [(ngModel)]="name1"
        (keyup)="onKey()" placeholder="Search name" />
      <form class="formclass" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <p>
            First Name
          </p>
          <input class="form-control" type="text" formControlName="firstName">
        </div>
        <div class="form-group">
          <p>
            Last Name
          </p>
          <input class="form-control" type="text" formControlName="lastName">
        </div>
        <p> </p>
        <button class="btn btn-success" type="submit" [disabled]="!profileForm.valid">Submit</button>
      </form>

    </div>
    <div class="col-sm-4">
      <p> </p>
    </div>
  </div>

  <div style="margin: 10px;" class="row">
    <div class="col-sm-4">
    </div>
    <div class="col-sm-4">
      <h3 style="text-align: center; margin-top:25px">People</h3>
      <ul class="list-group">
        <div *ngFor="let person of persons" id="persond">
          <li class="list-group-item">
            <div style="text-align: center">
              <button id="{{person.id}}" style="border: none; background:none;" (click)="updateFields(person)">
                {{person.name}} {{person.surname}}
              </button>
              <br><br>
              <button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-primary"
                (click)="getCourses(person.id)">Courses</button>
              <!-- Modal -->
              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLongTitle">{{person.name | titlecase}}'s Courses</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <ul class="list-group">
                        <div *ngFor="let course of courses">
                          <li class="list-group-item">
                            {{course.name}} <button class="btn btn-danger" style="text-align: left"
                              (click)="deleteCourse(person.id,course.id)">X</button>
                          </li>
                        </div>
                      </ul>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
              <button style="margin:5px;" class="btn btn-danger" (click)="deletePerson(person.id)">Delete</button>
              <button class="btn btn-warning" (click)="updatePerson(person)">Update</button>
            </div>
          </li>
        </div>
      </ul>
    </div>
    <div class="col-sm-4">
      <p></p>
    </div>

  </div>
</div>